<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    {% include 'admin/header.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="card2">
                    <div class="row">

                        <div class="col-6">
                            <img src="../../static/adminResources/images/bg.jpg" alt="sample" class="rounded mw-100">
                        </div>

                        <div class="col-6 p-4">
                            <h2 class="text-center">
                                <span style="border-bottom: 5px solid #248afd">About <span
                                        style="color: #248afd">Us</span></span>
                            </h2>

                            <p class="text-justify text-muted mt-4 pr-3">
                                Our project aims to develop an intelligent system for detecting and counting vehicles in parking areas The system uses advanced computer vision techniques
                                to analyze the video footage captured by the cameras placed at strategic locations in parking areas. The goal of the system is to provide accurate and real-time
                                information about the availability of parking spaces.The vehicle detection and counting system is designed to work in all weather conditions and can handle high
                                traffic volumes.The system uses a combination of machine learning algorithms and image processing techniques to identify and track vehicles.The system is capable
                                of detecting and counting various types of vehicles, including cars, trucks, buses, and motorcycles.
                            </p>
                            <!--p class="text-justify text-muted mt-4 pr-3">
                                The system can be used in a variety of applications, including parking management for malls and ports, and event organizing places.
                                It provides valuable information to parking attendants and event organizers, helping them make informed decisions about parking management.
                                The system can also be used to monitor parking occupancy and identify areas where improvements can be made to reduce traffic congestion and improve parking availability.
                            </p-->
                        </div>

                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>