<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Crowd Detection</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../static/adminResources/css/themify-icons.css">
  <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/adminResources/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../static/adminResources/images/favicon2.ico"/>
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../static/adminResources/images/myparkaiw.jpeg" alt="logo">
              </div>
              <h6 class="font-weight-light">Enter Username to Continue</h6>
              <form class="pt-3" method="POST" action="/validate_login_username">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" name="username">
                </div>
                <div class="mt-3">
{#                  <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="../../">SIGN IN</a>#}
                    <input type="submit" value="SUBMIT" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                </div>
              </form>
                <div class="text-center mt-4 text-danger">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {{ messages[0] }}
                {% endif %}
                {% endwith %}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>
</html>