<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/home_load">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/upload_video">
                <i class="mdi mdi-cctv menu-icon"></i>
                <span class="menu-title">Vehicle Detect</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/view_history">
                <i class="mdi mdi-history menu-icon"></i>
                <span class="menu-title">History</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/about">
                <i class="mdi mdi-information-outline menu-icon"></i>
                <span class="menu-title">About</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
